// font-family: 'Asap Condensed', sans-serif;
// font-family: 'Ubuntu', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;600;700&family=Asap+Condensed:wght@400;500;700&family=Ubuntu:wght@400;500;700&display=swap');

$header_height: 70px;

$primary: #35C94C;
$primary_light: #55DE6A;
$primary_dark: #3AB14D;

$secondary: #27B1DD;
$secondary_light: #5ACDF1;
$secondary_dark: #00A0D3;

$light: #F1F1F1;
$light_light: #F6F6F6;
$light_dark: #E1E1E1;

$dark: #737373;
$dark_light: #8C8C8C;
$dark_dark: #585858;

$theme-colors: (
    "primary": $primary,
    "primary_light": $primary_light,
    "primary_dark": $primary_dark,

    "secondary": $secondary,
    "secondary_light": $secondary_light,
    "secondary_dark": $secondary_dark,

    "light": $light,
    "light_light": $light_light,
    "light_dark": $light_dark,

    "dark": $dark,
    "dark_light": $dark_light,
    "dark_dark": $dark_dark,
);

$border-radius:               .9rem !default;
$border-radius-lg:            .3rem !default;
$border-radius-sm:            .2rem !default;